# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor
.idea/
.vscode/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
